#
# Leybold IM540
#
#  DEV
#  	EPICS prefix
#  PORT
#  	ASYN PORT_NAME
#  CH
#   CHANNEL NUMBER
#
#
##Make calculation so I will be able to select betwen 18 values (mbbi support only up to 16 values)
record(longin, "$(DEV):GET_CST_RAW_CH$(CH)") {
    field(DESC, "Get Sens. Type on CH$(CH)")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getCST($(CH)) $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(LOPR, "0")
    field(HOPR, "17")
}

record(longout, "$(DEV):SET_CST_RAW_CH$(CH)") {
    field(DESC, "Set Sens. Type on CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setCST($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_CST_RAW_CH$(CH)")
    field(DRVL, "0")
    field(DRVH, "17")
}

record(ai, "$(DEV):GET_ISO_CH$(CH)")
{
    field(DESC, "Get curr. offset CH$(CH)")
    field(PINI, "YES")
    field(SCAN, "$(CSCAN) second")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getISO($(CH)) $(PORT)")
    field(PREC, "3")
    field(EGU,  "V")
}

record(ai, "$(DEV):GET_IST_CH$(CH)")
{
    field(DESC, "Op. time of BAG and EXT syst.")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getIST($(CH),$(DEV):IST_TTR_CH$(CH),$(DEV):IST_CTR_CH$(CH)) $(PORT)")
    field(SCAN, "10 second")
}

record(ai, "$(DEV):IST_TTR_CH$(CH)") {
    field(DESC, "Operation time TTR syst.")
    field(DTYP, "Soft Channel")
    field(PREC, "1")
    field(EGU,  "h")
}

record(ai, "$(DEV):IST_CTR_CH$(CH)") {
    field(DESC, "Operation time CTR syst.")
    field(DTYP, "Soft Channel")
    field(PREC, "1")
    field(EGU,  "h")
}
