#
# Leybold IM540
#
#  DEV
#  	EPICS prefix
#  PORT
#  	ASYN PORT_NAME
#  CH
#   CHANNEL NUMBER
#
#
record(bi, "$(DEV):GET_EMI_CH$(CH)") {
    field(DESC, "Emision status for CH$(CH)")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getEMI($(CH)) $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZNAM, "OFF")
    field(ONAM, "ON")
    field(ZSV,  "NO_ALARM")
    field(OSV,  "NO_ALARM")
}

record(bo, "$(DEV):SET_EMI_CH$(CH)") {
    field(DESC, "Turn OFF/ON emission on CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setEMI($(CH)) $(PORT)")
    field(ZNAM, "OFF")
    field(ONAM, "ON")
}

record(mbbi, "$(DEV):GET_RSC_OUT$(CH)") {
    field(DESC, "Get scalling of rec. out CH$(CH)")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getRSC($(CH)) $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "SCALE_FULL")
    field(ONST, "SCALE_USER")
    field(TWST, "SCALE_AUTO")
    field(THST, "SCALE_EXPO")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
}

## This command allowed only in IM540 MODE
record(mbbo, "$(DEV):SET_RSC_OUT$(CH)") {
    field(DESC, "Set scalling of rec. out CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setRSC($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_RSC_OUT$(CH)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "SCALE_FULL")
    field(ONST, "SCALE_USER")
    field(TWST, "SCALE_AUTO")
    field(THST, "SCALE_EXPO")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
}

record(ai, "$(DEV):GET_RSL_OUT$(CH)")
{
    field(DESC, "Get recorder scale lim. CH$(CH)")
    field(PINI, "YES")
    field(SCAN, "$(CSCAN) second")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getRSC($(CH),$(DEV):RSL_LOW_OUT$(CH),$(DEV):RSL_HIGH_OUT$(CH)) $(PORT)")
}

record(ai, "$(DEV):RSL_LOW_OUT$(CH)") {
    field(DESC, "Low P limit of rec. scale CH$(CH)")
    field(DTYP, "Soft Channel")
    field(PREC, "4")
    field(EGU,  "")
}

record(ai, "$(DEV):RSL_HIGH_OUT$(CH)") {
    field(DESC, "Upper P limit of rec. scale CH$(CH)")
    field(DTYP, "Soft Channel")
    field(PREC, "4")
    field(EGU,  "")
}

## This command allowed only in IM540 MODE and if scalling is NOT set to SCALE_USER
record(ao, "$(DEV):SET_RSL_LOW_OUT$(CH)") {
    field(DESC, "Set lower P of rec. scale CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setRSL_LOW($(CH),$(DEV):RSL_HIGH_OUT$(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_RSL_OUT$(CH)")
#    field(DRVH, "")
#    field(DRVL, "")
    field(EGU,  "")
    field(PREC, "4")
}

record(ao, "$(DEV):SET_RSL_HIGH_OUT$(CH)") {
    field(DESC, "Set Upper P lim of rec. scale CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setRSL_HIGH($(CH),$(DEV):RSL_LOW_OUT$(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_RSL_OUT$(CH)")
#    field(DRVH, "")
#    field(DRVL, "")
    field(EGU,  "")
    field(PREC, "4")
}

record(bi, "$(DEV):GET_RSM_CH$(CH)") {
    field(DESC, "Get rec. scale mode CH$(CH)")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getRSM($(CH)) $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZNAM, "LIN_SCALE")
    field(ONAM, "LOG_SCALE")
    field(ZSV,  "NO_ALARM")
    field(OSV,  "NO_ALARM")
}

## This command allowed only in IM540 MODE
record(bo, "$(DEV):SET_RSM_CH$(CH)") {
    field(DESC, "Set rec. scale mode CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setRSM($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_RSM_CH$(CH)")
    field(ZNAM, "OFF")
    field(ONAM, "ON")
    field(ZSV,  "NO_ALARM")
    field(OSV,  "NO_ALARM")
}

record(mbbi, "$(DEV):GET_RSO_CH$(CH)") {
    field(DESC, "Get CH assign to rec. out (CH)")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getRSO($(CH)) $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZRVL, "1")
    field(ONVL, "2")
    field(TWVL, "3")
    field(THVL, "4")
    field(FRVL, "5")
    field(FVVL, "6")
    field(ZRST, "CH 1")
    field(ONST, "CH 2")
    field(TWST, "CH 3")
    field(THST, "CH 4")
    field(FRST, "AUTO")
    field(FVST, "NONE")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
    field(FVSV, "NO_ALARM")
}

## This command allowed only in IM540 MODE
record(mbbo, "$(DEV):SET_BCC_CH$(CH)") {
    field(DESC, "Set CH assign to rec. out (CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setRSO($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_RSO_CH$(CH)")
    field(ZRVL, "1")
    field(ONVL, "2")
    field(TWVL, "3")
    field(THVL, "4")
    field(FRVL, "5")
    field(FVVL, "6")
    field(ZRST, "CH 1")
    field(ONST, "CH 2")
    field(TWST, "CH 3")
    field(THST, "CH 4")
    field(FRST, "AUTO")
    field(FVST, "NONE")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
    field(FVSV, "NO_ALARM")
}

record(mbbi, "$(DEV):GET_SAS_CH$(CH)") {
    field(DESC, "Get sens amp. for (CH)")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getSAS($(CH)) $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "LOW")
    field(ONST, "NORMAL")
    field(TWST, "HIGH")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
}

record(mbbo, "$(DEV):SET_SAS_CH$(CH)") {
    field(DESC, "Set sens amp. for (CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSAS($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_SAS_CH$(CH)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "LOW")
    field(ONST, "NORMAL")
    field(TWST, "HIGH")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
}

record(ai, "$(DEV):GET_SFP_CH$(CH)")
{
    field(DESC, "Get sens filament pow CH$(CH)")
    field(PINI, "YES")
    field(SCAN, "$(CSCAN) second")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getSFP($(CH)) $(PORT)")
    field(PREC, "1")
    field(EGU,  "W")
}

record(ao, "$(DEV):SET_SFP_CH$(CH)") {
    field(DESC, "Set sens filament pow threshold CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSFP($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_SFP_CH$(CH)")
    field(DRVH, "15.0")
    field(DRVL, "1.0")
    field(EGU,  "W")
    field(PREC, "1")
}

record(ai, "$(DEV):GET_SSV_CH$(CH)")
{
    field(DESC, "Get sensitivity CH$(CH)")
    field(PINI, "YES")
    field(SCAN, "$(CSCAN) second")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getSSV($(CH)) $(PORT)")
    field(PREC, "2")
    field(EGU,  "")
}

record(ao, "$(DEV):SET_SSV_CH$(CH)") {
    field(DESC, "Set sensitivity CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSSV($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_SSV_CH$(CH)")
#    field(DRVH, "15.0")
#    field(DRVL, "1.0")
    field(EGU,  "")
    field(PREC, "2")
}

record(ai, "$(DEV):GET_SXR_CH$(CH)")
{
    field(DESC, "Get X-Ray Limit CH$(CH)")
    field(PINI, "YES")
    field(SCAN, "$(CSCAN) second")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getSXR($(CH)) $(PORT)")
    field(PREC, "4")
    field(EGU,  "")
}

record(ao, "$(DEV):SET_SXR_CH$(CH)") {
    field(DESC, "Set X-Ray Limit CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSXR($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_SXR_CH$(CH)")
#    field(DRVH, "")
    field(DRVL, "0")
#    field(EGU,  "")
    field(PREC, "4")
}

record(ai, "$(DEV):GET_ISO_CH$(CH)")
{
    field(DESC, "Get curr. offset CH$(CH)")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getISO($(CH)) $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(PREC, "0")
#    field(EGU,  "")
}

record(ai, "$(DEV):GET_IST_CH$(CH)")
{
    field(DESC, "Op. time of BAG and EXT syst.")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getIST($(CH),$(DEV):IST_BAG_CH$(CH),$(DEV):IST_EXT_CH$(CH)) $(PORT)")
    field(SCAN, "10 second")
}

record(ai, "$(DEV):IST_BAG_CH$(CH)") {
    field(DESC, "Operation time BAG syst.")
    field(DTYP, "Soft Channel")
    field(PREC, "1")
    field(EGU,  "h")
}

record(ai, "$(DEV):IST_EXT_CH$(CH)") {
    field(DESC, "Operation time EXT syst.")
    field(DTYP, "Soft Channel")
    field(PREC, "1")
    field(EGU,  "h")
}

