#
# Leybold IM540
#
#  DEV
#  	EPICS prefix
#  PORT
#  	ASYN PORT_NAME
#  CH
#   CHANNEL NUMBER
#
#
record(mbbi, "$(DEV):GET_OFC_CH$(CH)")
{
    field(DESC, "Offset correction of CH$(CH)")
    field(DTYP, "stream")
    field(SCAN, "$(DSCAN) second")
    field(INP,  "@IM540.proto getOFC($(CH)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "IGNORE")
    field(ONST, "APPLIED")
    field(TWST, "OFF.RUNNING")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
}

record(bo, "$(DEV):SET_OFC_CH$(CH)")
{
    field(DESC, "Set Offset correction of CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setOFC($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_OFC_CH$(CH)")
    field(ZNAM, "IGNORE")
    field(ONAM, "APPLY")
    field(ZSV,  "NO_ALARM")
    field(OSV,  "NO_ALARM")
}

record(mbbi, "$(DEV):GET_SCC_CH$(CH)")
{
    field(DESC, "Get CH that controls a sensor on CH$(CH)")
    field(DTYP, "stream")
    field(SCAN, "$(CSCAN) second")
    field(INP,  "@IM540.proto getSCC($(CH)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(ZRST, "NOT_CNTRL")
    field(ONST, "CNTRL BY CH1")
    field(TWST, "CNTRL BY CH2")
    field(THST, "CNTRL BY CH3")
    field(FRST, "CNTRL BY CH4")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
}

record(mbbo, "$(DEV):SET_SCC_CH$(CH)")
{
    field(DESC, "Set CH that controls a sensor on CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSCC($(CH)) $(PORT)")
    field(FLNK, "$(DEV):SET_SCA") # Reactivate the sensor control
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(ZRST, "NOT_CNTRL")
    field(ONST, "CNTRL BY CH1")
    field(TWST, "CNTRL BY CH2")
    field(THST, "CNTRL BY CH3")
    field(FRST, "CNTRL BY CH4")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
}

record(bo, "$(DEV):GET_SCL_CH$(CH)")
{
    field(DESC, "Get sensor cntrl. lim. CH$(CH)")
    field(DTYP, "stream")
    field(SCAN, "$(DSCAN) second")
    field(OUT,  "@IM540.proto getSCL($(CH),$(DEV):SCL_LOW_CH$(CH),$(DEV):SCL_HIGH_CH$(CH)) $(PORT)")
}

record(ai, "$(DEV):SCL_LOW_CH$(CH)")
{
    field(DESC, "Startup limit CH$(CH)")
    field(DTYP, "Soft Channel")
    field(PREC, "4")
}

record(ai, "$(DEV):SCL_HIGH_CH$(CH)")
{
    field(DESC, "Shutdown limit CH$(CH)")
    field(DTYP, "Soft Channel")
    field(PREC, "4")
}

## The sensor control mode of the addressed sensor must be set to AUTO or SELF.
record(ao, "$(DEV):SET_SCL_LOW_CH$(CH)")
{
    field(DESC, "Set startup limit CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSCL_LOW($(CH),$(DEV):SCL_HIGH_CH$(CH)) $(PORT)")
    field(FLNK, "$(DEV):SET_SCA") # Reactivate the sensor control
#    field(DRVH, "")
#    field(DRVL, "")
    field(PREC, "4")
}

## The sensor control mode of the addressed sensor must be set to AUTO or SELF.
record(ao, "$(DEV):SET_SCL_HIGH_CH$(CH)")
{
    field(DESC, "Set shutdown limit CH$(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSCL_HIGH($(CH),$(DEV):SCL_LOW_CH$(CH)) $(PORT)")
    field(FLNK, "$(DEV):SET_SCA") # Reactivate the sensor control
#    field(DRVH, "")
#    field(DRVL, "")
    field(PREC, "4")
}

record(mbbi, "$(DEV):GET_SCM_CH$(CH)")
{
    field(DESC, "Get sens. control mode CH(CH)")
    field(DTYP, "stream")
    field(SCAN, "$(CSCAN) second")
    field(INP,  "@IM540.proto getSCM($(CH)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "MANUAL")
    field(ONST, "SELF")
    field(TWST, "AUTO")
    field(THST, "HOT")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
}

record(mbbo, "$(DEV):SET_SCM_CH$(CH)")
{
    field(DESC, "Set sens. control mode CH(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSCM($(CH)) $(PORT)")
    field(FLNK, "$(DEV):SET_SCA") # Reactivate the sensor control
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "MANUAL")
    field(ONST, "SELF")
    field(TWST, "AUTO")
    field(THST, "HOT")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
}

record(mbbi, "$(DEV):GET_SGC_CH$(CH)")
{
    field(DESC, "Get sens. gas correction CH(CH)")
    field(DTYP, "stream")
    field(SCAN, "$(CSCAN) second")
    field(INP,  "@IM540.proto getSGC($(CH)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(ZRST, "NONE")
    field(ONST, "GAS_AR")
    field(TWST, "GAS_H2")
    field(THST, "GAS_HE")
    field(FRST, "GAS_NE")
    field(FVST, "GAS_KR")
    field(SXST, "GAS_XE")
    field(SVST, "GAS_CO2")
    field(EIST, "GAS_USER")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
    field(FVSV, "NO_ALARM")
    field(SXSV, "NO_ALARM")
    field(SVSV, "NO_ALARM")
    field(EISV, "NO_ALARM")
}

record(mbbo, "$(DEV):SET_SGC_CH$(CH)")
{
    field(DESC, "Set sens. gas correction CH(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSGC($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_SGC_CH$(CH)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(ZRST, "NONE")
    field(ONST, "GAS_AR")
    field(TWST, "GAS_H2")
    field(THST, "GAS_HE")
    field(FRST, "GAS_NE")
    field(FVST, "GAS_KR")
    field(SXST, "GAS_XE")
    field(SVST, "GAS_CO2")
    field(EIST, "GAS_USER")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
    field(FVSV, "NO_ALARM")
    field(SXSV, "NO_ALARM")
    field(SVSV, "NO_ALARM")
    field(EISV, "NO_ALARM")
}

record(mbbi, "$(DEV):GET_SMF_CH$(CH)")
{
    field(DESC, "Get measuring filter CH(CH)")
    field(DTYP, "stream")
    field(SCAN, "$(CSCAN) second")
    field(INP,  "@IM540.proto getSMF($(CH)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "NONE")
    field(ONST, "FAST")
    field(TWST, "NORMAL")
    field(THST, "SLOW")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
}

record(mbbo, "$(DEV):SET_SMF_CH$(CH)")
{
    field(DESC, "Set measuring filter CH(CH)")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSMF($(CH)) $(PORT)")
    field(FLNK, "$(DEV):GET_SMF_CH$(CH)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "NONE")
    field(ONST, "FAST")
    field(TWST, "NORMAL")
    field(THST, "SLOW")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
}

record(bo, "$(DEV):GET_SRL_CH$(CH)")
{
    field(DESC, "Get sensor lim. CH$(CH)")
    field(DTYP, "stream")
    field(SCAN, "$(DSCAN) second")
    field(OUT,  "@IM540.proto getSRL($(CH),$(DEV):SRL_LOW_CH$(CH),$(DEV):SRL_HIGH_CH$(CH)) $(PORT)")
}

record(ao, "$(DEV):SRL_LOW_CH$(CH)")
{
    field(DESC, "SRL Lower limit CH$(CH)")
    field(DTYP, "Soft Channel")
#    field(OUT,  "$(DEV):PRESS_CH$(CH).LOPR")
    field(PREC, "4")
}

record(ao, "$(DEV):SRL_HIGH_CH$(CH)")
{
    field(DESC, "SRL Upper limit CH$(CH)")
    field(DTYP, "Soft Channel")
#    field(OUT,  "$(DEV):PRESS_CH$(CH).HOPR")
    field(PREC, "4")
}

record(longin, "$(DEV):GET_STI_RAW_CH$(CH)")
{
    field(DESC, "Get Sens. Type on CH$(CH)")
    field(DTYP, "stream")
    field(SCAN, "$(CSCAN) second")
    field(INP,  "@IM540.proto getSTI($(CH)) $(PORT)")
    field(LOPR, "0")
    field(HOPR, "21")
}

## NOTE: Probably not gonna use the CTR, so values above 4 will be set to 4
record(calc, "$(DEV):STI_CALC_CH$(CH)")
{
    field(SCAN, "$(DSCAN) second")
    field(CALC, "A<=3?A:4")
#    field(INPA, "$(DEV):GET_STI_RAW_CH$(CH).VAL PP")
    field(INPA, "$(DEV):GET_STI_RAW_CH$(CH).VAL")
    field(FLNK, "$(DEV):STI_CH$(CH)")
}

record(mbbi, "$(DEV):STI_CH$(CH)")
{
    field(DESC, "Sensor type on CH(CH)")
    field(INP,  "$(DEV):STI_CALC_CH$(CH)")
    field(ZRST, "NOT_CONN")
    field(ONST, "BAG")
    field(TWST, "EXT")
    field(THST, "TTR")
    field(FRST, "CTR_TYPE")
}

record(fanout, "$(DEV):UNI_FANOUT_CH$(CH)")
{
    field(DESC, "Fanout pressure units")
    field(SCAN, "$(DSCAN) second")
    field(SELM, "All")
    field(LNK0, "$(DEV):UNI_SCL_LOW_CH$(CH)")
    field(LNK1, "$(DEV):UNI_SCL_HIGH_CH$(CH)")
    field(LNK2, "$(DEV):UNI_SCL_SET_LOW_CH$(CH)")
    field(LNK3, "$(DEV):UNI_SCL_SET_HIGH_CH$(CH)")
    field(LNK4, "$(DEV):UNI_SRL_LOW_CH$(CH)")
    field(LNK5, "$(DEV):UNI_SRL_HIGH_CH$(CH)")
}

record(stringout, "$(DEV):UNI_SCL_LOW_CH$(CH)")
{
    field(DESC, "Set P units RSL")
    field(OMSL, "closed_loop")
    field(DOL,  "$(DEV):GET_UNI")
    field(OUT,  "$(DEV):SCL_LOW_CH$(CH).EGU")
}

record(stringout, "$(DEV):UNI_SCL_HIGH_CH$(CH)")
{
    field(DESC, "Set P units RSL")
    field(OMSL, "closed_loop")
    field(DOL,  "$(DEV):GET_UNI")
    field(OUT,  "$(DEV):SCL_HIGH_CH$(CH).EGU")
}

record(stringout, "$(DEV):UNI_SCL_SET_LOW_CH$(CH)")
{
    field(DESC, "Set P units RSL")
    field(OMSL, "closed_loop")
    field(DOL,  "$(DEV):GET_UNI")
    field(OUT,  "$(DEV):SET_SCL_LOW_CH$(CH).EGU")
}

record(stringout, "$(DEV):UNI_SCL_SET_HIGH_CH$(CH)")
{
    field(DESC, "Set P units RSL")
    field(OMSL, "closed_loop")
    field(DOL,  "$(DEV):GET_UNI")
    field(OUT,  "$(DEV):SET_SCL_HIGH_CH$(CH).EGU")
}

record(stringout, "$(DEV):UNI_SRL_LOW_CH$(CH)")
{
    field(DESC, "Set P units RSL")
    field(OMSL, "closed_loop")
    field(DOL,  "$(DEV):GET_UNI")
    field(OUT,  "$(DEV):SRL_LOW_CH$(CH).EGU")
}

record(stringout, "$(DEV):UNI_SRL_HIGH_CH$(CH)")
{
    field(DESC, "Set P units RSL")
    field(OMSL, "closed_loop")
    field(DOL,  "$(DEV):GET_UNI")
    field(OUT,  "$(DEV):SRL_HIGH_CH$(CH).EGU")
}
