#
# Leybold IM540 DataDEV
#
#  DEV
#  	EPICS prefix
#  PORT
#  	ASYN PORT_NAME
#
#
record(bo, "$(DEV):RESET_ERR") {
    field(DESC, "Reset errors command")
    field(DTYP, "stream")
    field(HIGH, "1")
    field(OUT, "@IM540.proto resetError $(PORT)")
    field(ZNAM, "RESET_RS232")
    field(ONAM, "RESET_RS232")
}

record(bo, "$(DEV):RESET_DEVICE") {
    field(DESC, "Reset device command")
    field(DTYP, "stream")
    field(HIGH, "1")
    field(OUT, "@IM540.proto resetDevice $(PORT)")
    field(ZNAM, "RESET")
    field(ONAM, "RESET")
}

record(mbbiDirect, "$(DEV):GET_ERR_RS232")
{
    field(DESC, "Communication error")
    field(SCAN, "Passive")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getERR $(PORT)")
}

record(mbbiDirect, "$(DEV):GET_GDE")
{
    field(DESC, "Global device Error")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getGDE $(PORT)")
    field(SCAN, "$(CSCAN) second")
}

record(mbbiDirect, "$(DEV):GET_ISE")
{
    field(DESC, "Ioni Supply Errors")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getISE $(PORT)")
    field(SCAN, "$(CSCAN) second")
}

record(mbbiDirect, "$(DEV):GET_ISW")
{
    field(DESC, "Ioni Supply Warnings")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getISW $(PORT)")
    field(SCAN, "$(CSCAN) second")
}

record(mbbiDirect, "$(DEV):GET_VSE")
{
    field(DESC, "Voltage Supply Errors")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getVSE $(PORT)")
    field(SCAN, "$(CSCAN) second")
}

record(mbbiDirect, "$(DEV):GET_VSW")
{
    field(DESC, "Voltage Supply Warnings")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getVSW $(PORT)")
    field(SCAN, "$(CSCAN) second")
}

record(bo, "$(DEV):GET_PRX")
{
    field(DESC, "Get status and P from all 4 CH")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto getPRX($(DEV):STAT_CH1,$(DEV):PRESS_CH1,$(DEV):STAT_CH2,$(DEV):PRESS_CH2,$(DEV):STAT_CH3,$(DEV):PRESS_CH3,$(DEV):STAT_CH4,$(DEV):PRESS_CH4) $(PORT)")
    field(SCAN, "$(DSCAN) second")
}

record(mbbiDirect, "$(DEV):STAT_CH1")
{
    field(DESC, "CH1 Status")
    field(DTYP, "Raw Soft Channel")
}

record(ai, "$(DEV):PRESS_CH1") {
    field(DESC, "Measuring value on CH1")
    field(DTYP, "Soft Channel")
    field(EGU,  "")
    field(PREC, "4")
}

record(mbbiDirect, "$(DEV):STAT_CH2")
{
    field(DESC, "CH2 Status")
    field(DTYP, "Raw Soft Channel")
}

record(ai, "$(DEV):PRESS_CH2") {
    field(DESC, "Measuring value on CH2")
    field(DTYP, "Soft Channel")
    field(EGU,  "")
    field(PREC, "4")
}

record(mbbiDirect, "$(DEV):STAT_CH3")
{
    field(DESC, "CH3 Status")
    field(DTYP, "Raw Soft Channel")
}

record(ai, "$(DEV):PRESS_CH3") {
    field(DESC, "Measuring value on CH3")
    field(DTYP, "Soft Channel")
    field(EGU,  "")
    field(PREC, "4")
}

record(mbbiDirect, "$(DEV):STAT_CH4")
{
    field(DESC, "CH4 Status")
    field(DTYP, "Raw Soft Channel")
}

record(ai, "$(DEV):PRESS_CH4") {
    field(DESC, "Measuring value on CH4")
    field(DTYP, "Soft Channel")
    field(EGU,  "")
    field(PREC, "4")
}

record(bi, "$(DEV):GET_FCO") {
    field(DESC, "Auto Sens. selection if error")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getFCO $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZNAM, "OFF")
    field(ONAM, "ON")
    field(ZSV,  "NO_ALARM")
    field(OSV,  "NO_ALARM")
}

record(mbbi, "$(DEV):GET_RMO") {
    field(DESC, "Get mode of recorder output")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getRMO $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "IM540")
    field(ONST, "IM520_AUTO")
    field(TWST, "IM520_FIX")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
}

record(mbbo, "$(DEV):SET_RMO") {
    field(DESC, "Set mode of recorder output")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setRMO $(PORT)")
    field(FLNK, "$(DEV):GET_RMO")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "IM540")
    field(ONST, "IM520_AUTO")
    field(TWST, "IM520_FIX")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
}

## Reactivate the sensor control after changing the SCS, SCM, SCC, SCL, SCT parameters.
record(bo, "$(DEV):SET_SCA")
{
    field(DESC, "Reactivate sens. control")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSCA $(PORT)")
}

record(mbbi, "$(DEV):GET_SCS") {
    field(DESC, "Get sensor control setting")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getSCS $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(ZRST, "CH_CNTRL")
    field(ONST, "TTR_CNTRL_IONIVAC")
    field(TWST, "VIA_ANLG_INP")
    field(THST, "VIA_DIG_INP")
    field(FRST, "VIA_ANLG_DIG_INP")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
}

record(mbbo, "$(DEV):SET_SCS") {
    field(DESC, "Set sensor control setting")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSCS $(PORT)")
    field(FLNK, "$(DEV):SET_SCA") # Reactivate the sensor control
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(ZRST, "CH_CNTRL")
    field(ONST, "TTR_CNTRL_IONIVAC")
    field(TWST, "VIA_ANLG_INP")
    field(THST, "VIA_DIG_INP")
    field(FRST, "VIA_ANLG_DIG_INP")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
}

record(mbbi, "$(DEV):GET_SCT") {
    field(DESC, "Get TTR sens. control")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getSCT $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "CH CNTRL")
    field(ONST, "TTR CNTRL IONIVAC")
    field(TWST, "VIA ANLG INP")
    field(THST, "VIA DIG INP")
    field(FRST, "VIA ANLG_DIG INP")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
    field(THSV, "NO_ALARM")
    field(FRSV, "NO_ALARM")
}

record(mbbo, "$(DEV):SET_SCT") {
    field(DESC, "Set TTR sens. control")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setSCT $(PORT)")
    field(FLNK, "$(DEV):SET_SCA") # Reactivate the sensor control
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "TTR_CNTRL_OFF")
    field(ONST, "TTR_CNTRL_CH3_ON")
    field(TWST, "TTR_CNTRL_CH4_ON")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "NO_ALARM")
    field(TWSV, "NO_ALARM")
}

record(mbbi, "$(DEV):GET_UNI") {
    field(DESC, "Get pressure unit")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getUNI $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "mbar")
    field(ONST, "Torr")
    field(TWST, "Pa")
    field(THST, "Micron")
}

record(mbbo, "$(DEV):SET_UNI") {
    field(DESC, "Set pressure unit")
    field(DTYP, "stream")
    field(OUT,  "@IM540.proto setUNI $(PORT)")
    field(FLNK, "$(DEV):GET_UNI")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(ZRST, "mbar")
    field(ONST, "Torr")
    field(TWST, "Pa")
    field(THST, "Micron")
}

record(mbbi, "$(DEV):GET_IEC") {
    field(DESC, "Get emi. current")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getIEC $(PORT)")
    field(SCAN, "$(DSCAN) second")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(ZRST, "0.0 mA")
    field(ONST, "0.1 mA")
    field(TWST, "1 mA")
    field(THST, "1.6 mA")
    field(FRST, "10 mA")
    field(FVST, "45 mA")
    field(SXST, "90 mA")
}

record(ai, "$(DEV):GET_GAV") {
    field(DESC, "Get gauge anode voltage")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getGAV $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(EGU,  "V")
    field(PREC, "3")
}

record(ai, "$(DEV):GET_GCV") {
    field(DESC, "Get gauge cathode voltage")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getGCV $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(EGU,  "V")
    field(PREC, "3")
}

record(ai, "$(DEV):GET_GEC") {
    field(DESC, "Get gauge emission current")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getGEC $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(EGU,  "mA")
    field(PREC, "3")
}

record(ai, "$(DEV):GET_GFC") {
    field(DESC, "Get filament current")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getGFC $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(EGU,  "A")
    field(PREC, "3")
}

record(ai, "$(DEV):GET_GFP") {
    field(DESC, "Get filament power")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getGFP $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(EGU,  "W")
    field(PREC, "3")
}

record(ai, "$(DEV):GET_GFU") {
    field(DESC, "Get filament voltage")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getGFU $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(EGU,  "V")
    field(PREC, "3")
}

record(ai, "$(DEV):GET_GRV") {
    field(DESC, "Get filament reflector voltage")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getGRV $(PORT)")
    field(SCAN, "$(CSCAN) second")
    field(EGU,  "V")
    field(PREC, "3")
}

record(longin, "$(DEV):GET_IDO") {
    field(DESC, "Get IM540 operation time")
    field(PINI, "YES")
    field(DTYP, "stream")
    field(INP,  "@IM540.proto getIDO $(PORT)")
    field(SCAN, "10 second")
    field(EGU,  "h")
}

